DATABASE_URL="postgresql://user:password@localhost:5432/lukavice"
NODE_ENV="development"
PORT=3000

FIREBASE_PROJECT_ID="lukavice-288a6"
FIREBASE_PRIVATE_KEY="your-private-key"
FIREBASE_CLIENT_EMAIL="your-client-email"
